<div class="border-bottom row" style="margin-bottom: 8px;padding-bottom: 4px;">
    <div class="col-9">
        <h4 style="margin-bottom: 4px;">{{job['title']}}</h3>
            <div style="margin-bottom: 10px;">
                <p><b>Location:</b> {{job['location']}}</p>
                {% if job['salary'] %}
                    <p><b>Salary:</b> {{job['salary']}}</p>
                {% endif %}
            </div>
    </div>
    <div class="col-2">
        <a href="mailto:f.w.sjostrand@gmail.com?subject=Job%20Inquiry%20about%20{{job['title']}}&body=My%20name%3A%20%3CInsert%20name%20here%3E%0D%0A%0D%0AMy%20resume%3A%20%3CResume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%3A%20%3CAddress%20link%3E" type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>
    </div>
</div>



